html{
	width: 100%;
}
* {
	box-sizing: border-box;
}
p,h1,h2,h3,h4,h4,h6,div,span {
	font-family:PingFangSC-Regular,sans-serif,Microsoft JhengHei;	
}
p {
	font-size: 16px;
}
.carousel .carousel-item {
	min-height:auto;
	max-height: 400px;
  }
  
.carousel .carousel-item img {
	max-height: 400px;
	object-fit: cover;
}

.text-center img{
	max-height: 250px;
	max-width: 250px;
}

.card{
	max-width:250px;
	margin: 0 auto;
    float: none;
	border-radius: 50%;
	padding: 50px;
}
.grid{
	margin-left: 50px;
}
  .grid:after {
	content: ' ';
	display: block;
	clear: both;
	
	}
	/* ---- grid-item ---- */
	.grid-item {
	width: 320px;
	float: left;
	overflow:hidden
	
	}
	
	
	.grid-item--height2 { height: 460px; }
	.grid-item--height3 { height: 520px; }
	
	
Img{
	width: 100%
}
#section1{
	margin-top: 50px;
}
.story{
	margin-top: 50px;
}

#section2{
	margin-top: 100px;
}

#section3{
	margin-top: 100px;
}

#section4{
	margin-top: 100px;
	margin-bottom: 50px;
}

.form{
	margin: 0px auto;
	display:flex;
	justify-content:center;
}